packrat/lib*/
proxydata
*.RData
.Rhistory

# Exclude all data by default, opt in specific non-sensitive data
data/*
!data/domains-all.json

# Exclude all notebooks by default
*.nb.html
*.Rmd

!overnight.nb.html
!overnight.Rmd
!explore.nb.html
!explore.Rmd
